<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henu.eltfood">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- IM SDK required start -->
    <!-- 允许程序振动，用于本地通知设置振动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 麦克风权限，用于语音消息时录制语音，不使用录制语音可以移除 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 相机权限，用于图片消息时拍摄图片，不使用拍照可以移除 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 获取运营商信息，用于获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 写入扩展存储权限，用于附件等的存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 访问GPS定位，用于定位消息，如果不用定位相关可以移除 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- api 21后被标记为deprecated，可以移除 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许程序开机自动运行，SDK保活时使用，如果使用厂商推送，可以移除 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".EM.EMApplication"
        android:allowBackup="true"
        android:icon="@drawable/bread"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".Front.CreateShop"
            android:exported="false" />
        <activity
            android:name=".Front.ManageShop"
            android:exported="false" />
        <activity
            android:name=".Front.AddFoods"
            android:exported="false" />
        <activity
            android:name=".Front.FrontConsumerOrder.FrontConsumerOrder"
            android:exported="false" />
        <activity
            android:name=".Front.GoodsManager.FrontManage"
            android:exported="false" />
        <activity
            android:name=".Front.FrontDrinks"
            android:exported="false" />
        <activity
            android:name=".Front.FrontFood"
            android:exported="false" />
        <activity
            android:name=".Main.First_viewActivity"
            android:exported="false" />
        <activity
            android:name=".Main.register_view"
            android:exported="false" />
        <activity
            android:name=".MyInformation.MyinfoSet"
            android:exported="false" />
        <activity
            android:name=".MyInformation.MyinfoSafe"
            android:exported="false" />
        <activity
            android:name=".MyInformation.MyinfoSpace"
            android:exported="false" />
        <activity
            android:name=".MyInformation.MyinfoName"
            android:exported="false" />
        <activity android:name=".Message.chat.ChatActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recommend.ShopOnline" />
        <activity android:name=".MyInformation.MyinfoSpaceChange" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraman&apos;s.fireproof"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.henu.eltfood.BmobContentProvider" /> <!-- 设置环信应用的 AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1160220526107638#eletuan" /> <!-- 声明 SDK 所需的 service SDK 核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明 SDK 所需的 receiver -->
        <receiver
            android:name="com.hyphenate.chat.EMMonitorReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选 filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>